<div class="row">
        <div class="col s12 m6">
          <div class="card medium">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title"> {{ recipe.img_url }}</span>
            </div>
            <div class="card-content">
              <p>{{ recipe.nom }}</p>
            </div>
            <div class="card-action">
              <a ui-sref="recipepage({recipeid: recipe.ID})">Découvrez cette recette!</a>
            </div>
          </div>
        </div>
      </div>