<div>
<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span>Marmiton
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-center">
        <li class="active"><a href="#/">Accueil</a></li>
        <li><a href="#/createrecipe">Ajoutez votre recette!</a></li>
        <li><a ng-href="#/advancedsearch">Recherche avancée</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application</li>
      </ul>
    </div>
  </div>
</nav>
</div>
