<acme-navbar></acme-navbar>

<div class="container">
	<div ng-controller="NewRecipe">
		<div class="jumbotron text-center">
			<md-content style="padding: 5%">
			<h3>Créez votre propre recette!</h3>
<form>
  <fieldset class="form-group">
    <p class="text-center">Nom de la recette</p>
    <input ng-model="recette_name" class="form-control" placeholder="Entrez un nom...">
  </fieldset>

  <fieldset class="form-group">
    <p class="text-center">Catégorie</p>
    <select class="form-control" name="recipelevel">
      <option>plat</option>
      <option>entrée</option>
      <option>dessert</option>
      <option>patisserie</option>
      <option>autre</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <p class="text-center">Difficulté</p>
    <select class="form-control" name="recipelevel">
      <option>facile</option>
      <option>moyen</option>
      <option>difficile</option>
    </select>
  </fieldset>
    <fieldset>
    	<p> Ajouter des ingrédients</p>
    	<input ng-model="ingredient_name" class="form-control" id="exampleInputEmail1" placeholder="Nom de l'ingrédient">
    	<input ng-model="ingredient_quantity" class="form-control" id="exampleInputEmail1" placeholder="Quantité">
    <select class="form-control" name="ingredients_details">
      <option>Unité</option>
      <option></option>
      <option ng-model="ingredients_unit">g</option>
      <option ng-model="ingredients_unit">mg</option>
      <option ng-model="ingredients_unit">l</option>
      <option>ml</option>
    </select>
    <p ng-if="error != null">{{error}}</p>
<br />

   	<button ng-click="addIngredient(ingredient_name, ingredient_quantity, ingredients_unit)" class="btn btn-primary blue"> 
   		Ajouter
   		<i  class="material-icons small">library_add</i>
   	</button>
   	
    <br />
    <span ng-show="ingredients_list != null">
	<span ng-repeat="ingredient in ingredients_list">
		<span ng-switch="ingredient.unite">
          	<p class="small" ng-switch-when="null">- {{ ingredient.quantite }} {{ ingredient.nom }}</p>
          	<p class="small" ng-if="ingredient.unite">- {{ ingredient.nom }}: {{ ingredient.quantite }} {{ ingredient.unite }}</p>
        </span>
    </span>
</span> 
    </fieldset>
<br />
  <fieldset class="form-group">
    <p>Préparation</p>
    <textarea ng-model="texte_preparation" class="form-control" placeholder="Soyez précis! ..." rows="5"></textarea>
  </fieldset>
  <fieldset class="form-group">

  <fieldset class="form-group">
    <p>Remarques</p>
    <textarea ng-model="texte_remarque" class="form-control" rows="3" placeholder="Des idées? Qu'est-ce qui irait le mieux avec ce plat? ..."></textarea>
  </fieldset>

   <fieldset class="form-group">
    <p>Tags</p>
    <textarea ng-model="optionaltags" class="form-control" rows="1" placeholder="Optionnel, pour faciliter la recherche..."></textarea>
  </fieldset>

  <fieldset class="form-group">
    <p>Photo</p>
    <p class="text-muted">URL</p>
    <textarea ng-model="image_url" class="form-control" rows="1" placeholder="Optionnel, pour faciliter la recherche..."></textarea>
    <br />
    <p class="text-muted">Votre photo (non-fonctionnel)</p>
    <input type="file" class="form-control-file" id="exampleInputFile">
  </fieldset>

<span>
	<button type="submit" class="btn btn-primary red">Réinitialiser</button> 
  	<button type="submit" class="btn btn-primary blue">Créer!</button>
</span>

</form>

</div>
</div>