<acme-navbar></acme-navbar>
<div class="bgimg">
<div class="container">
	<div class="jumbotron text-center myjumbo">
		<div ng-controller="recipePage">

			<ul class="collapsible collection with-header">

		        <li class="collection-header"><h5>{{ recipe_details.nom }}</h5></li>
		        <li class="collection-header" ng-if="recipe_details.pseudo != null"><span> par {{ recipe_details.pseudo }} </span><li>

		        <li class="collection-header" ng-if="recipe_details.image_url != null">
		        	<div class="recipeimg" class="recipeimg">
		        		<img ng-src="{{recipe_details.image_url}}">
		        	</div>
		        </li>
			</ul>

		<ingredients-window></ingredients-window>

		<ul class="collapsible collection with-header">

		    <li ng-if="recipe.niveau != null" class="collection-item">
		    	<div> 
		    		<span>
		    			Niveau: {{ recipe_details.niveau }}
		    		</span>
		    	</div>
		    </li>
		   	<li class="collection-item">
		       	<br />
		      	
		       	<div>
		       		<p> Préparation</p>
		       		<span style="margin: 3%">
		       			{{ recipe_details.preparation }}
		       			<br/>
		       			<br/>
		       		</span>

		       	</div>
		       	</li>

		   	<li ng-if="recipe_details.remarque != null" class="collection-item">
		   		<br />
		   		<div> 
		   			<p>
		   				Remarque:
		   			</p>
		   			<span>
		   				{{ recipe_details.remarque }}
		   			</span>
		   		</div>
		   	</li>
		</ul>
<br />

		<user-comments></user-comments>
<br />
		</div>
	</div>
	</div>
</div>
	<p ng-if="error != null">{{error}}</p>
</div>