<ul class="collapsible collection" style="background-color: white">
  <li class="collection-item">
     <p>Ingrédients </p>
          <span class="btn btn-primary blue" style="float: left; margin: 1%" ng-repeat="ingredient in ingredients" class="white-text">
          	<span ng-switch="ingredient.unite">
            	<span class="small" ng-switch-when="null">
                {{ ingredient.quantite }} {{ ingredient.nom }}
              </span>
            	<span class="small" ng-if="ingredient.unite">
                {{ ingredient.nom }}: {{ ingredient.quantite }} {{ ingredient.unite }}
              </span>
          	</span>
          </span>
        </li>
  </ul>